{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

{% if app.user %}
<div>
    <h4 class="text-center p-3">Hallo {{ app.user.email }}! ✅</h4>
</div>
{% endif %}
<div class="text-center mb-3 mt-5">
    <a class="btn btn-secondary m-auto w-25" href={{path('edit')}}>Hinzufügen</a>
</div>
<div>
    <div class="row">
    {% for month in months %}
        <div class="col">
        <a href="{{ path('detail', {'date':month}) }}" style="text-decoration:none;">
            <div class="card w-25 m-auto mt-3">
                <div class="card-header">
                    <div class="card-title text-center">
                        {{ month }}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="w-50">Einkommen</div>
                        <div class="w-50">{{totalIncome[month]|number_format(2, '.', ',')}} €</div>
                    </div>
                        <hr>
                    <div class="row">
                        <div class="w-50">Ausgaben</div>
                        <div class="w-50">{{totalExpenses[month]|number_format(2, '.', ',')}} €</div>
                    </div>
                        <hr>
                        <div class="row">
                        <div class="w-50">Gesamt</div>
                        <div class="w-50">{{total[month]|number_format(2, '.', ',')}} €</div>
                    </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}