{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h4 class="text-center">Hallo {{ app.user.email }}! ✅</h4>
    {% endif %}

    <div class="row">
    {% for month in months %}
        <div class="col">
        <a href="{{ path('detail', {'date':month}) }}" style="text-decoration:none;">
            <div class="card w-50">
                <div class="card-header">
                    <div class="card-title text-center">
                        {{ month }}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="w-50">
                        Einkommen
                        </div>
                        <div class="w-50">
                        {{totalIncome[month]|number_format(2, '.', ',')}} €
                        </div>
                    </div>
                        <hr>
                    <div class="row">
                        <div class="w-50">
                        Ausgaben
                        </div>
                        <div class="w-50">
                        {{totalExpenses[month]|number_format(2, '.', ',')}} €
                        </div>
                    </div>
                        <hr>
                        <div class="row">
                        <div class="w-50">
                        Gesamt
                        </div>
                        <div class="w-50">
                        {{total[month]|number_format(2, '.', ',')}} €
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}