{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}

{% for message in app.flashes("error") %}
    <div class="alert alert-danger text-center">
        {{ message }}
    </div>
{% endfor %}
<h4 class="text-center">Details</h4>
<div class="container">
    <div class="card">
        <p class="card-header text-center"> {{date}} </p>
    </div>

    <div class="card-body">
        <div>            
            {% for key, finance in finances %}
            <div>
                <p>{{types[key]}}</p>
                
                {% for fields in finance %}
                <div class="row">
                    <p class="w-50 text-left">{{fields.title}}</p>
                    <p class="w-25">{{fields.amount |number_format(2, '.', ',')}} €</p>

                    <div class="w-25">
                        <a class="btn btn-secondary sm" href="{{ path('edit', {'id':fields.id}) }}">Bearbeiten</a>
                        <a class="btn btn-danger sm" href={{path('delete_finance', {'id':fields.id})}}>
                            Löschen
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
            <hr>
            {% endfor %} 

            <div class="row">
            <p class="w-50">Gesamt</p>
            <p class="w-50">{{ total |number_format(2, '.', ',')}} €</p>
            </div> 
        </div>
    </div>
</div>

{% endblock %}
